NODE_ENV=development
PORT=3333
CORS_ORIGIN=http://localhost:8080

FIREBASE_PROJECT_ID=rr-infocell
FIREBASE_CLIENT_EMAIL=firebase-adminsdk@example.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
