NODE_ENV=development
PORT=3333
CORS_ORIGIN=http://127.0.0.1:5173

FIREBASE_PROJECT_ID=rr-infocell
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

# Local emulators, optional.
# FIRESTORE_EMULATOR_HOST=127.0.0.1:8081
# FIREBASE_AUTH_EMULATOR_HOST=127.0.0.1:9099
